DIALOG DISCARDABLE  0, 0, 276, 140
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "TODO: Layout für TRiAS Geokomponentendialog gestalten",
                    IDC_STATIC,44,66,188,8
END


