STRINGTABLE MOVEABLE DISCARDABLE LOADONCALL
BEGIN
	IDS_PUNKTSYM001	"Dreieck 1"
	IDS_PUNKTSYM002	"Dreieck 2"
	IDS_PUNKTSYM003	"Dreieck 3"
	IDS_PUNKTSYM004	"Dreieck 4"
	IDS_PUNKTSYM005	"Kreis 1"
	IDS_PUNKTSYM006	"Kreis 2"
	IDS_PUNKTSYM007	"Kreuz 1"
	IDS_PUNKTSYM008	"Kreuz 2"
	IDS_PUNKTSYM009	"Viereck 1"
	IDS_PUNKTSYM010	"Viereck 2"
	IDS_PUNKTSYM011	"Viereck 3"
	IDS_PUNKTSYM012	"Viereck 4"
	IDS_PUNKTSYM013	"Viereck 5"
	IDS_PUNKTSYM014	"Viereck 6"
	IDS_PUNKTSYM015	"Viereck 7"
	IDS_PUNKTSYM016	"Viereck 8"
	IDS_PUNKTSYM017	"Viereck 9"
	IDS_PUNKTSYM080	"Stern 1"
	IDS_PUNKTSYM196	"Stern 2"
	IDS_PUNKTSYM187	"Pfeil 1"
	IDS_PUNKTSYM085	"Pfeil 2"
	IDS_PUNKTSYM030	"Pfeil 3"
	IDS_PUNKTSYM018	"Stadt < 2000 Ew"
	IDS_PUNKTSYM019	"Stadt <10000 Ew"
	IDS_PUNKTSYM020	"Stadt < 50000 Ew"
	IDS_PUNKTSYM021	"Stadt < 100.000 Ew"
	IDS_PUNKTSYM022	"Stadt < 500.000 Ew"
	IDS_PUNKTSYM023	"Stadt < 1.000.000 Ew"
	IDS_PUNKTSYM024	"Stadt > 1.000.000 Ew"
	IDS_PUNKTSYM025	"Dorf < 200 Ew"
	IDS_PUNKTSYM026	"Dorf < 500 Ew"
	IDS_PUNKTSYM027	"Dorf < 1000 Ew"
	IDS_PUNKTSYM028	"Dorf > 1000 Ew"
	IDS_PUNKTSYM086	"Chemische Industrie"
	IDS_PUNKTSYM087	"Gummiindustrie"
	IDS_PUNKTSYM088	"Petrolchemie/Pharmazeutische Ind."
	IDS_PUNKTSYM097	"Metallbearbeitung/Metallurgie"
	IDS_PUNKTSYM105	"Stahl-/Walzwerk"
	IDS_PUNKTSYM100	"Maschinen/Fahrzeug/Anlagenbau"
	IDS_PUNKTSYM103	"Schienenfahrzeugbau"
	IDS_PUNKTSYM104	"Straßenfahrzeugbau"
	IDS_PUNKTSYM101	"Schwermaschinenbau"
	IDS_PUNKTSYM102	"Schiffbau"
	IDS_PUNKTSYM077	"Baustoffindustrie"
	IDS_PUNKTSYM078	"Holzbe- und -verarbeitende Industrie"
	IDS_PUNKTSYM091	"Ziegelei/Grob- u. Feinkeramik/Glashütte"
	IDS_PUNKTSYM096	"Textil-/Bekleidungsindustrie"
	IDS_PUNKTSYM092	"Lederverarbeitung"
	IDS_PUNKTSYM093	"Papier-/Druckerzeugnisse"
	IDS_PUNKTSYM094	"Polygraphische Industrie"
	IDS_PUNKTSYM106	"Fischverarbeitende Industrie"
	IDS_PUNKTSYM108	"Nahrungs/Genußmittelindustrie"
	IDS_PUNKTSYM107	"Futtermittelherstellung"
	IDS_PUNKTSYM098	"Elektrotechnik"
	IDS_PUNKTSYM099	"Feinmechanik/Optik"
	IDS_PUNKTSYM029	"Unklassifiziertes Industriegelände"
	IDS_PUNKTSYM110	"Dienstleistung"
	IDS_PUNKTSYM111	"Post"
	IDS_PUNKTSYM089	"Kraftwerk"
	IDS_PUNKTSYM033	"Transformator"
	IDS_PUNKTSYM031	"Tankstelle"
	IDS_PUNKTSYM038	"Mühle"
	IDS_PUNKTSYM039	"Imkerei"
	IDS_PUNKTSYM040	"Gewächshaus"
	IDS_PUNKTSYM041	"Scheune"
	IDS_PUNKTSYM079	"Kohlebergbau"
	IDS_PUNKTSYM081	"Eisenerzbergbau"
	IDS_PUNKTSYM082	"Nichteisenerzbergbau"
	IDS_PUNKTSYM084	"Salzbergbau"
	IDS_PUNKTSYM034	"Kirche"
	IDS_PUNKTSYM035	"Kapelle"
	IDS_PUNKTSYM037	"Burg"
	IDS_PUNKTSYM036	"Pavillon"
	IDS_PUNKTSYM042	"Leichter Turm"
	IDS_PUNKTSYM043	"Massiver Turm"
	IDS_PUNKTSYM044	"Schornstein"
	IDS_PUNKTSYM083	"Erdgas-/Erdölbohrturm"
	IDS_PUNKTSYM045	"Funk-/Fernsehturm"
	IDS_PUNKTSYM046	"Leuchtturm"
	IDS_PUNKTSYM129	"Mast"
	IDS_PUNKTSYM130	"E-Leitungsmast"
	IDS_PUNKTSYM131	"E-Leitungsmast"
	IDS_PUNKTSYM132	"E-Leitungsmast"
	IDS_PUNKTSYM133	"E-Leitungsmast"
	IDS_PUNKTSYM134	"E-Leitungsmast"
	IDS_PUNKTSYM135	"E-Leitungsmast"
	IDS_PUNKTSYM136	"E-Leitungsmast"
	IDS_PUNKTSYM137	"E-Leitungsmast"
	IDS_PUNKTSYM138	"Fahrleitungsmast, Holz"
	IDS_PUNKTSYM139	"Fahrleitungsmast, Kunststoff"
	IDS_PUNKTSYM140	"Fahrleitungsmast, Beton"
	IDS_PUNKTSYM141	"Fahrleitungsmast, Stahlrohr"
	IDS_PUNKTSYM142	"Fahrleitungsmast, Stahlgitter"
	IDS_PUNKTSYM143	"Fahrleitungsmast, Stahlgitter"
	IDS_PUNKTSYM144	"Antenne"
	IDS_PUNKTSYM207	"Anschlagsäule"
	IDS_PUNKTSYM047	"Kran, feststehend"
	IDS_PUNKTSYM048	"Kran, fahrbar"
	IDS_PUNKTSYM049	"Wasserbehälter, offen"
	IDS_PUNKTSYM050	"Wasserbehälter, bedeckt"
	IDS_PUNKTSYM051	"Brunnen"
	IDS_PUNKTSYM145	"Schacht"
	IDS_PUNKTSYM146	"Gully"
	IDS_PUNKTSYM147	"Lüftungsschacht"
	IDS_PUNKTSYM148	"Mastaufsatzleuchte (1), Holzmast"
	IDS_PUNKTSYM149	"Mastaufsatzleuchte (1), Kunststoffmast"
	IDS_PUNKTSYM150	"Mastaufsatzleuchte (1), Betonmast"
	IDS_PUNKTSYM151	"Mastaufsatzleuchte (1), Stahlrohrmast"
	IDS_PUNKTSYM152	"Mastaufsatzleuchte (1), Stahlgittermast"
	IDS_PUNKTSYM153	"Peitschenleuchte (1), Holzmast"
	IDS_PUNKTSYM154	"Peitschenleuchte (1), Kunststoffmast"
	IDS_PUNKTSYM155	"Peitschenleuchte (1), Betonmast"
	IDS_PUNKTSYM156	"Peitschenleuchte (1), Stahlrohrmast"
	IDS_PUNKTSYM157	"Peitschenleuchte (1), Stahlgittermast"
	IDS_PUNKTSYM158	"Peitschenleuchte (2), Holzmast"
	IDS_PUNKTSYM159	"Peitschenleuchte (2), Kunststoffmast"
	IDS_PUNKTSYM160	"Peitschenleuchte (2), Betonmast"
	IDS_PUNKTSYM161	"Peitschenleuchte (2), Stahlrohrmast"
	IDS_PUNKTSYM162	"Peitschenleuchte (2), Stahlgittermast"
	IDS_PUNKTSYM032	"Gasometer"
	IDS_PUNKTSYM163	"Absperrschieber"
	IDS_PUNKTSYM164	"Hydrant"
	IDS_PUNKTSYM165	"Feuermelder"
	IDS_PUNKTSYM166	"Band/Rohrbrücke"
	IDS_PUNKTSYM168	"Fundament, eckig"
	IDS_PUNKTSYM169	"Fundament, rund"
	IDS_PUNKTSYM170	"Pumpe"
	IDS_PUNKTSYM209	"Fernmelde-/Rufeinrichtung"
	IDS_PUNKTSYM052	"Brücke"
	IDS_PUNKTSYM053	"Kleine Brücke/Fußgängersteg"
	IDS_PUNKTSYM054	"S-Bahn-Haltestelle"
	IDS_PUNKTSYM055	"U-Bahn-Haltestelle"
	IDS_PUNKTSYM171	"Drehscheibe/Verschiebeanlage"
	IDS_PUNKTSYM172	"Weiche"
	IDS_PUNKTSYM173	"Einflügliges Signal"
	IDS_PUNKTSYM174	"Zweiflügliges Signal"
	IDS_PUNKTSYM175	"Signal"
	IDS_PUNKTSYM176	"Signal"
	IDS_PUNKTSYM177	"Warnkreuz/eingleisiger Schienenverkehr"
	IDS_PUNKTSYM178	"Warnkreuz/mehrgleisiger Schienenverkehr"
	IDS_PUNKTSYM179	"Kilometerstein"
	IDS_PUNKTSYM180	"Verkehrszeichen"
	IDS_PUNKTSYM181	"Warnzeichen"
	IDS_PUNKTSYM182	"Hinweiszeichen"
	IDS_PUNKTSYM056	"Flugplatz"
	IDS_PUNKTSYM205	"Ampel"
	IDS_PUNKTSYM208	"Haltestelle"
	IDS_PUNKTSYM206	"Park-/Rastplatz"
	IDS_PUNKTSYM057	"Quelle"
	IDS_PUNKTSYM195	"Fontäne"
	IDS_PUNKTSYM059	"Laubbaum (-wald)"
	IDS_PUNKTSYM060	"Nadelbaum (-wald)"
	IDS_PUNKTSYM167	"Mischwald"
	IDS_PUNKTSYM184	"Laubmischwald"
	IDS_PUNKTSYM185	"Nadelmischwald"
	IDS_PUNKTSYM061	"Laub-Nadel-Mischwald"
	IDS_PUNKTSYM062	"Wald, Abholzungen"
	IDS_PUNKTSYM063	"Wald, abgestorben/Waldbrandfläche"
	IDS_PUNKTSYM064	"Wiese/Weide"
	IDS_PUNKTSYM058	"Einzelbaum"
	IDS_PUNKTSYM065	"Gebüsch"
	IDS_PUNKTSYM066	"Kleines Waldstück"
	IDS_PUNKTSYM109	"Obstanbaugebiet"
	IDS_PUNKTSYM067	"Friedhof"
	IDS_PUNKTSYM090	"Nasse Stelle, Sumpf"
	IDS_PUNKTSYM068	"Nasse Stelle, Sumpf mit Röhricht"
	IDS_PUNKTSYM069	"Nasse Stelle, Sumpf mit Gras"
	IDS_PUNKTSYM095	"Nasse Stelle, Sumpf mit Gebüsch"
	IDS_PUNKTSYM070	"Röhricht"
	IDS_PUNKTSYM071	"Trigonometrischer Punkt"
	IDS_PUNKTSYM186	"Trigonometrischer Hochpunkt auf Gebäude"
	IDS_PUNKTSYM072	"Trigonometrischer Punkt auf Kirche"
	IDS_PUNKTSYM073	"Trigonometrischer Punkt auf Turm"
	IDS_PUNKTSYM074	"Nivellementspunkt"
	IDS_PUNKTSYM183	"Höhenbolzen"
	IDS_PUNKTSYM075	"Denkmal"
	IDS_PUNKTSYM076	"Steinkreuz"
	IDS_PUNKTSYM112	"Abgrabung"
	IDS_PUNKTSYM113	"Verfüllung"
	IDS_PUNKTSYM114	"Aufschüttung"
	IDS_PUNKTSYM115	"Verfüllung und Aufschüttung"
	IDS_PUNKTSYM116	"Bergbau, aktiv"
	IDS_PUNKTSYM117	"Bergbau, inaktiv"
	IDS_PUNKTSYM118	"Altstandort des prod. und verarb. Gewerbes"
	IDS_PUNKTSYM119	"Landwirtschaftlicher Altstandort"
	IDS_PUNKTSYM120	"Militärischer Altstandort"
	IDS_PUNKTSYM121	"Verkehrsaltstandort"
	IDS_PUNKTSYM122	"Altstandort/Versorgungsanlage"
	IDS_PUNKTSYM123	"Blindgänger"
	IDS_PUNKTSYM124	"Bombentrichter"
	IDS_PUNKTSYM204	"Altablagerung"
	IDS_PUNKTSYM125	"Diensthütte"
	IDS_PUNKTSYM126	"Forstdienststelle"
	IDS_PUNKTSYM127	"Löschwasserentnahmestelle"
	IDS_PUNKTSYM188	"Überhalt"
	IDS_PUNKTSYM128	"Überhalt/Douglasie"
	IDS_PUNKTSYM189	"Nachwuchs"
	IDS_PUNKTSYM191	"Nachwuchs/Douglasie"
	IDS_PUNKTSYM190	"Unterstand"
	IDS_PUNKTSYM192	"Unterstand/Douglasie"
	IDS_PUNKTSYM193	"Holzboden/Mischbaumart"
	IDS_PUNKTSYM194	"Holzboden/Mischbaumart:Douglasie"
	IDS_PUNKTSYM197	"Eigentumsgrenze Graben"
	IDS_PUNKTSYM198	"Angrenzender Nadelwald"
	IDS_PUNKTSYM199	"Angrenzender Laubwald"
	IDS_PUNKTSYM200	"Hügelgrab"
	IDS_PUNKTSYM201	"Feuerlöschbrunnen"
	IDS_PUNKTSYM202	"Denkmal"
	IDS_PUNKTSYM203	"Bedeutender Einzelbaum"
END
