// Manually edited resources
//

//////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_VERSION          "V1.00.013"
    IDS_COPYRIGHT        "#KK020708"
END

IDD_ABOUTBOX DIALOG DISCARDABLE  0, 0, 235, 54
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Importieren in das GPS Garmin File"
FONT 8, "MS Sans Serif"
BEGIN
    ICON            IDR_MAINFRAME,IDC_STATIC,9,14,21,20
    LTEXT           "GPSImport V1.00.013",IDC_VERSION,40,10,128,8,SS_NOPREFIX
    LTEXT           "Copyright © Geopunkt GmbH & Co. KG, NL Potsdam 1991 - 2002, #KK020708",
                    IDC_STATIC,40,23,128,18
    DEFPUSHBUTTON   "OK",IDOK,176,4,55,14,WS_GROUP
END

