2049	BITMAP ".\\bmp\\flaechen\\hek\\!.bmp "
2050	BITMAP ".\\bmp\\flaechen\\hek\\!_breit.bmp"
2051	BITMAP ".\\bmp\\flaechen\\hek\\!_breitq.bmp"
2052	BITMAP ".\\bmp\\flaechen\\hek\\!_quer.bmp"
2053	BITMAP ".\\bmp\\flaechen\\hek\\i.bmp"
2054	BITMAP ".\\bmp\\flaechen\\hek\\i_breit.bmp"
2055	BITMAP ".\\bmp\\flaechen\\hek\\i_breitq.bmp"
2056	BITMAP ".\\bmp\\flaechen\\hek\\i_quer.bmp"
2057	BITMAP ".\\bmp\\flaechen\\hek\\1deck_lo.bmp"
2058	BITMAP ".\\bmp\\flaechen\\hek\\1deck_lu.bmp"
2059	BITMAP ".\\bmp\\flaechen\\hek\\1deck_ro.bmp"
2060	BITMAP ".\\bmp\\flaechen\\hek\\1deck_ru.bmp"
2061	BITMAP ".\\bmp\\flaechen\\hek\\bigcross.bmp"
2062	BITMAP ".\\bmp\\flaechen\\hek\\bw.bmp"
2063	BITMAP ".\\bmp\\flaechen\\hek\\dreieckx.bmp"
2064	BITMAP ".\\bmp\\flaechen\\hek\\dreiecky.bmp"
2065	BITMAP ".\\bmp\\flaechen\\hek\\ecke_lo.bmp"
2066	BITMAP ".\\bmp\\flaechen\\hek\\ecke_lu.bmp"
2067	BITMAP ".\\bmp\\flaechen\\hek\\ecke_ro.bmp"
2068	BITMAP ".\\bmp\\flaechen\\hek\\ecke_ru.bmp"
2069	BITMAP ".\\bmp\\flaechen\\hek\\gitter.bmp"
2070	BITMAP ".\\bmp\\flaechen\\hek\\gitterq.bmp"
2071	BITMAP ".\\bmp\\flaechen\\hek\\helldkl.bmp"
2072	BITMAP ".\\bmp\\flaechen\\hek\\neu.bmp"
2073	BITMAP ".\\bmp\\flaechen\\hek\\pfeil_lo.bmp"
2074	BITMAP ".\\bmp\\flaechen\\hek\\pfeil_lu.bmp"
2075	BITMAP ".\\bmp\\flaechen\\hek\\pfeil_ro.bmp"
2076	BITMAP ".\\bmp\\flaechen\\hek\\pfeil_ru.bmp"
2077	BITMAP ".\\bmp\\flaechen\\hek\\pyram_l.bmp"
2078	BITMAP ".\\bmp\\flaechen\\hek\\pyramhi.bmp"
2079	BITMAP ".\\bmp\\flaechen\\hek\\pyramid.bmp"
2080	BITMAP ".\\bmp\\flaechen\\hek\\stuck.bmp"
2081	BITMAP ".\\bmp\\flaechen\\hek\\s-w.bmp"
2082	BITMAP ".\\bmp\\flaechen\\hek\\Åbergang.bmp"
2083	BITMAP ".\\bmp\\flaechen\\hek\\y_head.bmp"
2084	BITMAP ".\\bmp\\flaechen\\hek\\y_left.bmp"
2085	BITMAP ".\\bmp\\flaechen\\hek\\y_right.bmp"
2086	BITMAP ".\\bmp\\flaechen\\hek\\ypsilon.bmp"