// Ressourcen fЃr BildMerkmalsAnzeige -----------------------------------------
// File: BILDER.RC

#include <windows.h>
#include <resstrg.h>

#include "bilder.h"

#include "bilder.rcv"

// Diese Stringtabelle so wie sie ist, in alle Erweiterungen kopieren
STRINGTABLE	LOADONCALL DISCARDABLE MOVEABLE
BEGIN
// StandardMessages
	IDS_DEXMESSAGE		"TriasExtensionMessage"
	IDS_DEXXMESSAGE		"TriasCPPExtensionMessage"
	IDS_QNFYMESSAGE		"TriasRegisterNotification"
	IDS_QNFYUNREGMESSAGE	"TriasUnRegisterNotification"
	IDS_NOTIFICATION	"TriasNotification"
//
// MenuItem's
	IDS_BILDMENUITEM	"&Картинная информация"
END

// ResStringKonstanten --------------------------------------------------------
STRINGTABLE	LOADONCALL DISCARDABLE MOVEABLE
BEGIN
	IDS_EXTPROFILE,		".ini"
	IDS_IMGEXT,		".dib"
	IDS_IMAGES,		"Images"
	IDS_PROFID,		"Id"
	IDS_STANDARD,		"Standard"
	IDS_OBJNAME,		"ObjName"
	IDS_BILDER,		"Bilder"
	IDS_BILDERSUBDIR,	"BILDER\\"
	IDS_IRISDIRS,		"Directories"
END
