// Custom resources ----------------------------------------------------------
// File: PERSONAL.RC

// Personalisierungsinformationen --------------------------------------------
PERSONALCODE    PERSONALCODERES LOADONCALL      MOVEABLE        DISCARDABLE
BEGIN
	PERSONALKEYCODE         // KodeSchlüssel
END


