STRINGTABLE MOVEABLE DISCARDABLE LOADONCALL
BEGIN
	IDS_PUNKTSYM001 "Triangle 1"
	IDS_PUNKTSYM002 "Triangle 2"
	IDS_PUNKTSYM003 "Triangle 3"
	IDS_PUNKTSYM004 "Triangle 4"
	IDS_PUNKTSYM005 "Circle 1"
	IDS_PUNKTSYM006 "Circle 2"
	IDS_PUNKTSYM007 "Cross 1"
	IDS_PUNKTSYM008 "Cross 2"
	IDS_PUNKTSYM009 "Rectangle 1"
	IDS_PUNKTSYM010 "Rectangle 2"
	IDS_PUNKTSYM011 "Rectangle 3"
	IDS_PUNKTSYM012 "Rectangle 4"
	IDS_PUNKTSYM013 "Rectangle 5"
	IDS_PUNKTSYM014 "Rectangle 6"
	IDS_PUNKTSYM015 "Rectangle 7"
	IDS_PUNKTSYM016 "Rectangle 8"
	IDS_PUNKTSYM017 "Rectangle 9"
	IDS_PUNKTSYM080 "Star 1"
	IDS_PUNKTSYM196 "Star 2"
	IDS_PUNKTSYM187 "Arrow 1"
	IDS_PUNKTSYM085 "Arrow 2"
	IDS_PUNKTSYM030 "Pfeil 3"
	IDS_PUNKTSYM018 "City < 2000 Inh."
	IDS_PUNKTSYM019 "City <10000 Inh"
	IDS_PUNKTSYM020 "City< 50000 Inh"
	IDS_PUNKTSYM021 "City < 100.000 Inh"
	IDS_PUNKTSYM022 "City < 500.000 Inh"
	IDS_PUNKTSYM023 "City < 1.000.000 Inh"
	IDS_PUNKTSYM024 "City > 1.000.000 Inh"
	IDS_PUNKTSYM025 "Town < 200 Inh"
	IDS_PUNKTSYM026 "Town < 500 Inh"
	IDS_PUNKTSYM027 "Town < 1000 Inh"
	IDS_PUNKTSYM028 "Town > 1000 Inh"
	IDS_PUNKTSYM086 "Chemical industry"
	IDS_PUNKTSYM087 "Rubber industry" 
	IDS_PUNKTSYM088 "Petrol chemistry/Pharmaceutical industry."
	IDS_PUNKTSYM097 "Metal industry"
	IDS_PUNKTSYM105 "Steel works / Rolling mill"
	IDS_PUNKTSYM100 "machine / vehicle / construction engineering"
	IDS_PUNKTSYM103 "Rail vehicle engineering"
	IDS_PUNKTSYM104 "Street vehicle engineering"
	IDS_PUNKTSYM101 "Heavy machine engineering"
	IDS_PUNKTSYM102 "Ship-building"
	IDS_PUNKTSYM077 "Building material industry"
	IDS_PUNKTSYM078 "Wood processing industry"
	IDS_PUNKTSYM091 "Brickworks/coarse and fine ceramic articles/glass-works"
	IDS_PUNKTSYM096 "Textile / Clothing industry"
	IDS_PUNKTSYM092 "Leather industry"
	IDS_PUNKTSYM093 "Paper / printing products"
	IDS_PUNKTSYM094 "Polygraphic industry"
	IDS_PUNKTSYM106 "Seafood industry"
	IDS_PUNKTSYM108 "Food / semi-luxury industry"
	IDS_PUNKTSYM107 "Feed production"
	IDS_PUNKTSYM098 "Electronics"
	IDS_PUNKTSYM099 "Precision engineering/optics"
	IDS_PUNKTSYM029 "Unclassified industrial areas"
	IDS_PUNKTSYM110 "Service"
	IDS_PUNKTSYM111 "Mail"
	IDS_PUNKTSYM089 "Power Plant"
	IDS_PUNKTSYM033 "Transformer"
	IDS_PUNKTSYM031 "Fuel station"
	IDS_PUNKTSYM038 "Mill"
	IDS_PUNKTSYM039 "Bee-farm"
	IDS_PUNKTSYM040 "Hothouse"
	IDS_PUNKTSYM041 "Barn"
	IDS_PUNKTSYM079 "Coal mining"
	IDS_PUNKTSYM081 "Iron-ore mining"
	IDS_PUNKTSYM082 "Non iron-ore mining"
	IDS_PUNKTSYM084 "Salt mining"
	IDS_PUNKTSYM034 "Church"
	IDS_PUNKTSYM035 "Chapel"
	IDS_PUNKTSYM037 "Castle"
	IDS_PUNKTSYM036 "Pavilion"
	IDS_PUNKTSYM042 "Light tower"
	IDS_PUNKTSYM043 "Massive tower"
	IDS_PUNKTSYM044 "Chimney"
	IDS_PUNKTSYM083 "Natural gas / Mineral oil derrick"
	IDS_PUNKTSYM045 "Radio / TV tower"
	IDS_PUNKTSYM046 "Lighthouse"
	IDS_PUNKTSYM129 "Pole"
	IDS_PUNKTSYM130 "Electric transmission pole" 
	IDS_PUNKTSYM131 "Electric transmission pole" 
	IDS_PUNKTSYM132 "Electric transmission pole" 
	IDS_PUNKTSYM133 "Electric transmission pole" 
	IDS_PUNKTSYM134 "Electric transmission pole" 
	IDS_PUNKTSYM135 "Electricpylon" 
	IDS_PUNKTSYM136 "Electric transmission pole" 
	IDS_PUNKTSYM137 "Electric transmission pole" 
	IDS_PUNKTSYM138 "Conductor line pole, wood" 
	IDS_PUNKTSYM139 "Conductor line pole, plastic" 
	IDS_PUNKTSYM140 "Conductor line pole, concrete" 
	IDS_PUNKTSYM141 "Conductor line pole, steel tube" 
	IDS_PUNKTSYM142 "Conductor line pole, steel lattice" 
	IDS_PUNKTSYM143 "Conductor line pole, steel lattice" 
	IDS_PUNKTSYM144 "Antenna"
	IDS_PUNKTSYM047 "Stationary crane" 
	IDS_PUNKTSYM048 "Movable crane"
	IDS_PUNKTSYM049 "Open reservoir" 
	IDS_PUNKTSYM050 "Covered reservoir"
	IDS_PUNKTSYM051 "Well"
	IDS_PUNKTSYM145 "Shaft"
	IDS_PUNKTSYM146 "Drain"
	IDS_PUNKTSYM147 "Ventilation shaft" 
	IDS_PUNKTSYM148 "Pole top lamp(1), wooden pole" 
	IDS_PUNKTSYM149 "Pole top lamp (1), plastic pole" 
	IDS_PUNKTSYM150 "Pole top lamp (1), concrete pole" 
	IDS_PUNKTSYM151 "Pole top lamp (1), steel tube pole" 
	IDS_PUNKTSYM152 "Pole top lamp (1), steel lattice pole" 
	IDS_PUNKTSYM153 "Streetlamp (1), wooden pole" 
	IDS_PUNKTSYM154 "Streetlamp (1), plastic pole" 
	IDS_PUNKTSYM155 "Streetlamp (1), concrete pole" 
	IDS_PUNKTSYM156 "Streetlamp (1), steel tube pole" 
	IDS_PUNKTSYM157 "Streetlamp (1), stel lattice pole" 
	IDS_PUNKTSYM158 "Streetlamp (2), wooden pole" 
	IDS_PUNKTSYM159 "Streetlamp (2), plastic pole" 
	IDS_PUNKTSYM160 "Streetlamp (2), concrete pole" 
	IDS_PUNKTSYM161 "Streetlamp (2), steel tube pole" 
	IDS_PUNKTSYM162 "Streetlamp (2), steel lattice pole" 
	IDS_PUNKTSYM032 "Gas meter"
	IDS_PUNKTSYM163 "Slide lock"
	IDS_PUNKTSYM164 "Hydrant"
	IDS_PUNKTSYM165 "Fire-alarm"
	IDS_PUNKTSYM166 "Band bridge / tube bridge"
	IDS_PUNKTSYM168 "Foundation, Rectangle"
	IDS_PUNKTSYM169 "Foundation, round" 
	IDS_PUNKTSYM170 "Pump"
	IDS_PUNKTSYM052 "Bridge"
	IDS_PUNKTSYM053 "Small bridge / pedestrian bridge"
	IDS_PUNKTSYM054 "Commuter rail stop"
	IDS_PUNKTSYM055 "Underground railway stop"
	IDS_PUNKTSYM171 "Turntable/marshalling yard"
	IDS_PUNKTSYM172 "Railway Switch"
	IDS_PUNKTSYM173 "Single signal" 
	IDS_PUNKTSYM174 "Double signal"
	IDS_PUNKTSYM175 "Signal"
	IDS_PUNKTSYM176 "Signal"
	IDS_PUNKTSYM177 "Warning cross/single-track traffic"
	IDS_PUNKTSYM178 "Warning cross / multiple track trafic"
	IDS_PUNKTSYM179 "Kilometer mark"
	IDS_PUNKTSYM180 "Traffic sign"
	IDS_PUNKTSYM181 "Warning sign"
	IDS_PUNKTSYM182 "Reference sign"
	IDS_PUNKTSYM056 "Airport"
	IDS_PUNKTSYM057 "Spring"
	IDS_PUNKTSYM195 "Water-fountain"
	IDS_PUNKTSYM059 "Deciduous tree (forest)"
	IDS_PUNKTSYM060 "Conifer tree (forest)"
	IDS_PUNKTSYM167 "Mixed forest"
	IDS_PUNKTSYM184 "Mixed deciduous forest"
	IDS_PUNKTSYM185 "Mixed conifer forest"
	IDS_PUNKTSYM061 "Mixed deciduous and conifer forest"
	IDS_PUNKTSYM062 "Forest, clearings"
	IDS_PUNKTSYM063 "Forest, died off/Forest-fire area" 
	IDS_PUNKTSYM064 "Meadow/pasture-land"
	IDS_PUNKTSYM058 "Individual tree"
	IDS_PUNKTSYM065 "Bushes"
	IDS_PUNKTSYM066 "Small forest"
	IDS_PUNKTSYM109 "Fruit-growing area"
	IDS_PUNKTSYM067 "Cemetery"
	IDS_PUNKTSYM090 "Wet area, swamp"
	IDS_PUNKTSYM068 "Wet area, swamp with thicket"
	IDS_PUNKTSYM069 "Wet area, swamp with grass"
	IDS_PUNKTSYM095 "Wet area, swamp with bushes"
	IDS_PUNKTSYM070 "Thicket"
	IDS_PUNKTSYM071 "Trigonometric point" 
	IDS_PUNKTSYM186 "Trigonometric high point on building"
	IDS_PUNKTSYM072 "Trigonometric point on church"
	IDS_PUNKTSYM073 "Trigonometric point on tower"
	IDS_PUNKTSYM074 "Leveling point"
	IDS_PUNKTSYM183 "Altitude bolt"
	IDS_PUNKTSYM075 "Memorial"
	IDS_PUNKTSYM076 "Stone cross"
	IDS_PUNKTSYM112 "Ditch"
	IDS_PUNKTSYM113 "Filling"
	IDS_PUNKTSYM114 "Heap"
	IDS_PUNKTSYM115 "Filling and heap"
	IDS_PUNKTSYM116 "Mining, active"
	IDS_PUNKTSYM117 "Mining, inactive"
	IDS_PUNKTSYM118 "Old site of producing and processing industry"
	IDS_PUNKTSYM119 "Old agricultural site"
	IDS_PUNKTSYM120 "Old military site"
	IDS_PUNKTSYM121 "Old traffic site"
	IDS_PUNKTSYM122 "Old site / provision plant"
	IDS_PUNKTSYM123 "Blind shell"
	IDS_PUNKTSYM124 "Bomb crater"
	IDS_PUNKTSYM204 "Waste deposit"
	IDS_PUNKTSYM125 "Service cabin"
	IDS_PUNKTSYM126 "Forest service"
	IDS_PUNKTSYM127 "Fire extinguishing water fountain"
	IDS_PUNKTSYM188 "Standard holdover"
	IDS_PUNKTSYM128 "Standard holdover / Douglas fir"
	IDS_PUNKTSYM189 "After-growth"
	IDS_PUNKTSYM191 "After-growth/Douglas fir"
	IDS_PUNKTSYM190 "Shelter"
	IDS_PUNKTSYM192 "Shelter/Douglas fir"
	IDS_PUNKTSYM193 "wood soil, mixed trees species"
	IDS_PUNKTSYM194 "Holzboden/mixed trees species:Douglas fir"
	IDS_PUNKTSYM197 "Property limit ditch"
	IDS_PUNKTSYM198 "Adjoining conifer forest"
	IDS_PUNKTSYM199 "Adjoining deciduous forest"
	IDS_PUNKTSYM200 "Hill grave"
	IDS_PUNKTSYM201 "Fire-extinguishing well"
	IDS_PUNKTSYM202 "memorial"
	IDS_PUNKTSYM203 "Important individual tree"
END